.form-row {
    margin-bottom: 10px;
}

a {
    text-decoration:none;
}

label {
     display:inline-block;
     width: 80px;
}

.form-row.captcha {
    padding-left:80px;
}

#captcha_image,
#captcha_code {
    display:block;
}

#captcha_code {
    margin-top:10px;
}

#submit_form {
    margin:10px 0 0 80px;
}

